.pizzas__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items:center;
    gap: 50px;
    margin-bottom: 50px;
}

.pizzas-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media (max-width:970px) {
    .pizzas__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pizzas-actions {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media (max-width:470px) {
    .pizzas__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 70px;
    }
}