.pizzas__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items:center;
    gap: 50px;
}

.pizzas-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}