.categories__list {
    display: flex;
    gap: 15px;
}

.categories__item {
    padding: 10px 25px;
    background: var(--additionalElementsColor);
    border-radius: 10px;
    cursor: pointer;
}

.categories__item.active {
    background: #000;
    color: #fff;
}

.categories__item:hover {
    background: var(--additionalElementsHoverColor);
}