body {
  font-family: var(--defaultFont);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.cart__btn {
  background: transparent;
  border-radius: 7px;
  border: 1px solid #ff5e00;
  color: #ff5e00;
  transition: all 0.3s ease 0s;
  font-weight: 800;
}

.cart__btn:hover {
  background: #ff5e00;
  color: #fff;
}
